In [1]:
# Import the dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
# Import the dataset
attrition_df = pd.read_csv("HR-Employee-Attrition.csv")
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes", "Attrition_No"],1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From /Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["acc"])

WARNING:tensorflow:From /Users/abigailwoolf/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [10]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
1102/1102 [==============================] - 0s 141us/sample - loss: 147.8931 - acc: 0.6207
Epoch 2/100
1102/1102 [==============================] - 0s 39us/sample - loss: 51.8568 - acc: 0.8022
Epoch 3/100
1102/1102 [==============================] - 0s 44us/sample - loss: 41.6783 - acc: 0.7995
Epoch 4/100
1102/1102 [==============================] - 0s 40us/sample - loss: 32.9716 - acc: 0.8013
Epoch 5/100
1102/1102 [==============================] - 0s 39us/sample - loss: 26.1526 - acc: 0.8067
Epoch 6/100
1102/1102 [==============================] - 0s 47us/sample - loss: 20.2638 - acc: 0.8076
Epoch 7/100
1102/1102 [==============================] - 0s 38us/sample - loss: 15.2437 - acc: 0.8022
Epoch 8/100
1102/1102 [==============================] - 0s 39us/sample - loss: 11.2839 - acc: 0.7840
Epoch 9/100
1102/1102 [==============================] - 0s 40us/sample - loss: 7.3681 - acc: 0.7722
Epoch 10/100
1102/1102 [==============================] - 0s 38us/sample - loss: 3.9119 - acc: 0.6470
Epoch 11/100
1102/1102 [==============================] - 0s 42us/sample - loss: 2.1951 - acc: 0.5209
Epoch 12/100
1102/1102 [==============================] - 0s 43us/sample - loss: 1.3993 - acc: 0.4510
Epoch 13/100
1102/1102 [==============================] - 0s 43us/sample - loss: 1.1223 - acc: 0.4129
Epoch 14/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.9317 - acc: 0.6171
Epoch 15/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.8093 - acc: 0.8294
Epoch 16/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.7575 - acc: 0.8294
Epoch 17/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.7243 - acc: 0.8285
Epoch 18/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.6947 - acc: 0.8285
Epoch 19/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.6772 - acc: 0.8294
Epoch 20/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.6549 - acc: 0.8294
Epoch 21/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.6280 - acc: 0.8285
Epoch 22/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.6085 - acc: 0.8294
Epoch 23/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.5912 - acc: 0.8294
Epoch 24/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.5809 - acc: 0.8294
Epoch 25/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.5717 - acc: 0.8294
Epoch 26/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.5641 - acc: 0.8294
Epoch 27/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.5551 - acc: 0.8294
Epoch 28/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.5411 - acc: 0.8294
Epoch 29/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.5272 - acc: 0.8294
Epoch 30/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.5168 - acc: 0.8294
Epoch 31/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.5112 - acc: 0.8294
Epoch 32/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.5071 - acc: 0.8294
Epoch 33/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.5027 - acc: 0.8294
Epoch 34/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.5007 - acc: 0.8294
Epoch 35/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4952 - acc: 0.8294
Epoch 36/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4922 - acc: 0.8294
Epoch 37/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4891 - acc: 0.8294
Epoch 38/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4873 - acc: 0.8294
Epoch 39/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4841 - acc: 0.8294
Epoch 40/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4812 - acc: 0.8294
Epoch 41/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4788 - acc: 0.8294
Epoch 42/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4770 - acc: 0.8294
Epoch 43/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4753 - acc: 0.8285
Epoch 44/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4741 - acc: 0.8285
Epoch 45/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.4711 - acc: 0.8285
Epoch 46/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4706 - acc: 0.8285
Epoch 47/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4684 - acc: 0.8285
Epoch 48/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4670 - acc: 0.8285
Epoch 49/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4661 - acc: 0.8285
Epoch 50/100
1102/1102 [==============================] - 0s 36us/sample - loss: 0.4650 - acc: 0.8285
Epoch 51/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4633 - acc: 0.8285
Epoch 52/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4624 - acc: 0.8285
Epoch 53/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4612 - acc: 0.8285
Epoch 54/100
1102/1102 [==============================] - 0s 36us/sample - loss: 0.4604 - acc: 0.8285
Epoch 55/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4592 - acc: 0.8285
Epoch 56/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4582 - acc: 0.8285
Epoch 57/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4582 - acc: 0.8285
Epoch 58/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4570 - acc: 0.8285
Epoch 59/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4556 - acc: 0.8285
Epoch 60/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4566 - acc: 0.8285
Epoch 61/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4556 - acc: 0.8285
Epoch 62/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4546 - acc: 0.8285
Epoch 63/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4542 - acc: 0.8285
Epoch 64/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.4533 - acc: 0.8285
Epoch 65/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4541 - acc: 0.8285
Epoch 66/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4529 - acc: 0.8285
Epoch 67/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4520 - acc: 0.8285
Epoch 68/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4519 - acc: 0.8285
Epoch 69/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4512 - acc: 0.8285
Epoch 70/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4512 - acc: 0.8285
Epoch 71/100
1102/1102 [==============================] - 0s 36us/sample - loss: 0.4506 - acc: 0.8285
Epoch 72/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.4501 - acc: 0.8285
Epoch 73/100
1102/1102 [==============================] - 0s 55us/sample - loss: 0.4498 - acc: 0.8285
Epoch 74/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4506 - acc: 0.8285
Epoch 75/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.4496 - acc: 0.8285
Epoch 76/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4494 - acc: 0.8285
Epoch 77/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4489 - acc: 0.8285
Epoch 78/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4488 - acc: 0.8285
Epoch 79/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4484 - acc: 0.8285
Epoch 80/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4495 - acc: 0.8285
Epoch 81/100

1102/1102 [==============================] - 0s 35us/sample - loss: 0.4485 - acc: 0.8285
Epoch 82/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4483 - acc: 0.8285
Epoch 83/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.4490 - acc: 0.8285
Epoch 84/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.4495 - acc: 0.8285
Epoch 85/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.4482 - acc: 0.8285
Epoch 86/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.4476 - acc: 0.8285
Epoch 87/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.4480 - acc: 0.8285
Epoch 88/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4478 - acc: 0.8285
Epoch 89/100
1102/1102 [==============================] - 0s 36us/sample - loss: 0.4480 - acc: 0.8285
Epoch 90/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.4475 - acc: 0.8285
Epoch 91/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.4498 - acc: 0.8285
Epoch 92/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.4490 - acc: 0.8285
Epoch 93/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4489 - acc: 0.8285
Epoch 94/100
1102/1102 [==============================] - 0s 36us/sample - loss: 0.4476 - acc: 0.8285
Epoch 95/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.4473 - acc: 0.8285
Epoch 96/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4470 - acc: 0.8285
Epoch 97/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4471 - acc: 0.8285
Epoch 98/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.4478 - acc: 0.8285
Epoch 99/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4466 - acc: 0.8285
Epoch 100/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.4471 - acc: 0.8285

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

368/368 - 0s - loss: 0.4054 - acc: 0.8723
Loss: 0.4053966999053955, Accuracy: 0.8722826242446899